<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742445721696-6s2eenbcgdfqvjl7pv9ro8hl8s2m786n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742445721696-6s2eenbcgdfqvjl7pv9ro8hl8s2m786n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>742445721696-o2hnj9io9jaerf1he5v9105earl8b03h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrbGzbtfXJP7Rbvt886pXmEexLc9U4PfI</string>
	<key>GCM_SENDER_ID</key>
	<string>742445721696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meditationApp</string>
	<key>PROJECT_ID</key>
	<string>sinnesro-75dff</string>
	<key>STORAGE_BUCKET</key>
	<string>sinnesro-75dff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742445721696:ios:464b181d8327dfa1bdbb05</string>
</dict>
</plist>